/* Google Font */
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */
:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.header-content img {
  width: 100%;
  background-size: cover
}

h2.card-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--Dark-purple);
  margin-left: 20px;
}

.title-with-image {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 8px;
}

.title-with-image img {
  width: 30px;
  height: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  transform: translate(0, -110px);
}

.accordion-card {
  width: 80%;
  max-width: 450px;
  margin: 20px auto;
  background-color: var(--White);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--Light-pink);
  border-radius: 5px;
  cursor: pointer;
}

.accordion-question p {
  font-size: 0.813rem;
  font-weight: 600;
  color: var(--Dark-purple);
}

.accordion-question p:hover {
  color: #AD28EB;
}

.accordion-question.last-itme {
  border-bottom: none;
}

.accordion-answer {
  display: none;
  padding: 0 10px 15px;
}

.accordion-question.active {
  border-bottom: none;
}

.accordion-question.active+.accordion-answer {
  border-bottom: 1px solid var(--Light-pink);
}

.accordion-answer.last-itme {
  border-bottom: none !important;
}

.accordion-answer p {
  font-size: 0.75rem;
  color: var(--Grayish-purple);
}

.toggle {
  font-weight: 700;
}

.toggle-image {
  width: 20px;
  height: 20px;
}

.toggle.collapsed .toggle-image {
  content: url('/assets/images/icon-plus.svg');
}

.toggle.expanded .toggle-image {
  content: url('/assets/images/icon-minus.svg');
}



/* Media query for smaller devices */
@media only screen and (max-width: 1400px) {
  .title-with-image {
    padding: 10px;
  }

  .title-with-image img {
    width: 25px;
    height: 25px;
  }

  main {
    height: auto;
    transform: translate(0, -100px);
  }
}

/* Media query for even smaller devices */
@media only screen and (max-width: 480px) {
  .accordion-card {
    width: 80%;
  }

  h2.card-title {
    font-size: 1.8rem;
  }

  .title-with-image img {
    width: 20px;
    height: 20px;
  }

  main {
    height: auto;
    transform: translate(0, -70px);
  }

  .accordion-question p {
    font-size: 0.92rem;
    padding-right: 20px;
  }

  .accordion-answer p {
    padding-right: 10px;
  }

  .toggle-image {
    width: 25px;
    height: 25px;
  }
}